<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class=jumbotron>
        <div class="col">
            <h2>Welcome to SIB</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()" >
                <div class="form-group">
               
                  <label for="acno">AccountNumber</label>
                  <input formControlName="acno" name="acno" type="text" class="form-control" id="acno" >
                  <div class="l_error" *ngIf="loginError('acno')">Invalid Account number</div>
                </div>
                <div class="form-group">
                  <label for="pwd">Password</label>
                   <input formControlName="psw" name="psw" type="password" class="form-control" id="pwd">
                  <div class="l_error" *ngIf="loginError('psw')">Invalid password</div>
                </div>
               <button type="submit" class="btn btn-primary">Submit</button>
              <a routerLink="register">Register</a>

              </form>
        </div>
    </div>
        <div class="col">
            
        </div>
    </div>

</div>